[Install]
WantedBy=multi-user.target

[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/sendDataAtBoot
Description=LSB: Start sendData at boot
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
TimeoutSec=infinity
WatchdogSec=3600
KillMode=process
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=5 6
ExecStart=/etc/init.d/sendDataAtBoot start
ExecStop=/etc/init.d/sendDataAtBoot stop
